datastore/Customers.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="t"><xs:annotation><xs:documentation>Ashpool XML Database (c)2003</xs:documentation></xs:annotation></xs:element><xs:element name="r" type="ashpoolRow"/><xs:complexType name="ashpoolRow"><xs:sequence><xs:element name="CustomerID" type="xs:string" nillable="true" maxLength="10" maxOccurs="unbounded" /><xs:element name="CompanyName" type="xs:string" nillable="true" maxLength="80" maxOccurs="unbounded" /><xs:element name="ContactName" type="xs:string" nillable="true" maxLength="60" maxOccurs="unbounded" /><xs:element name="ContactTitle" type="xs:string" nillable="true" maxLength="60" maxOccurs="unbounded" /><xs:element name="Address" type="xs:string" nillable="true" maxLength="120" maxOccurs="unbounded" /><xs:element name="City" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /><xs:element name="Region" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /><xs:element name="PostalCode" type="xs:string" nillable="true" maxLength="20" maxOccurs="unbounded" /><xs:element name="Country" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /><xs:element name="Phone" type="xs:string" nillable="true" maxLength="48" maxOccurs="unbounded" /><xs:element name="Fax" type="xs:string" nillable="true" maxLength="48" maxOccurs="unbounded" /></xs:sequence></xs:complexType></xs:schema>