datastore/Orders.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="t"><xs:annotation><xs:documentation>Ashpool XML Database (c)2003</xs:documentation></xs:annotation></xs:element><xs:element name="r" type="ashpoolRow"/><xs:complexType name="ashpoolRow"><xs:sequence><xs:element name="OrderID" type="xs:integer" nillable="false" autonumber="true" maxOccurs="unbounded" /><xs:element name="CustomerID" type="xs:string" nillable="true" maxLength="10" maxOccurs="unbounded" /><xs:element name="EmployeeID" type="xs:integer" nillable="true" maxLength="4" maxOccurs="unbounded" /><xs:element name="OrderDate" type="xs:dateTime" nillable="true" maxLength="8" maxOccurs="unbounded" /><xs:element name="RequiredDate" type="xs:dateTime" nillable="true" maxLength="8" maxOccurs="unbounded" /><xs:element name="ShippedDate" type="xs:dateTime" nillable="true" maxLength="8" maxOccurs="unbounded" /><xs:element name="ShipVia" type="xs:integer" nillable="true" maxLength="4" maxOccurs="unbounded" /><xs:element name="Freight" type="xs:float" nillable="true" maxLength="8" maxOccurs="unbounded" /><xs:element name="ShipName" type="xs:string" nillable="true" maxLength="80" maxOccurs="unbounded" /><xs:element name="ShipAddress" type="xs:string" nillable="true" maxLength="120" maxOccurs="unbounded" /><xs:element name="ShipCity" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /><xs:element name="ShipRegion" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /><xs:element name="ShipPostalCode" type="xs:string" nillable="true" maxLength="20" maxOccurs="unbounded" /><xs:element name="ShipCountry" type="xs:string" nillable="true" maxLength="30" maxOccurs="unbounded" /></xs:sequence></xs:complexType></xs:schema>