datastore/Products.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="t"><xs:annotation><xs:documentation>Ashpool XML Database (c)2003</xs:documentation></xs:annotation></xs:element><xs:element name="r" type="ashpoolRow"/><xs:complexType name="ashpoolRow"><xs:sequence><xs:element name="ProductID" type="xs:integer" nillable="false" autonumber="true" maxOccurs="unbounded" /><xs:element name="ProductName" type="xs:string" nillable="true" maxLength="80" maxOccurs="unbounded" /><xs:element name="SupplierID" type="xs:integer" nillable="true" maxLength="4" maxOccurs="unbounded" /><xs:element name="CategoryID" type="xs:integer" nillable="true" maxLength="4" maxOccurs="unbounded" /><xs:element name="QuantityPerUnit" type="xs:string" nillable="true" maxLength="40" maxOccurs="unbounded" /><xs:element name="UnitPrice" type="xs:float" nillable="true" maxLength="8" maxOccurs="unbounded" /><xs:element name="UnitsInStock" type="xs:integer" nillable="true" maxLength="2" maxOccurs="unbounded" /><xs:element name="UnitsOnOrder" type="xs:integer" nillable="true" maxLength="2" maxOccurs="unbounded" /><xs:element name="ReorderLevel" type="xs:integer" nillable="true" maxLength="2" maxOccurs="unbounded" /><xs:element name="Discontinued" type="xs:boolean" nillable="true" maxOccurs="unbounded" /></xs:sequence></xs:complexType></xs:schema>